body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
    color: #f5f5f5;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #0a0a0a;
}

header .intro {
    max-width: 50%;
}

header h1 {
    font-size: 3rem;
    margin: 0;
    color: #b3e5fc;
}

header h2 {
    font-size: 2rem;
    margin: 0.5rem 0;
    color: #757575;
}

header .subtitle {
    font-size: 1rem;
    color: #b3e5fc;
    margin-bottom: 1.5rem;
}

header p.typing-effect {
    font-size: 1.5rem;
    color: #b3e5fc;
    margin-bottom: 1.5rem;
}

header .avatar {
    max-width: 20%;
}

header .avatar img {
    width: 100%;
    border-radius: 50%;
}

.social-icons {
    margin-top: 1rem;
}

.social-icons a {
    color: #b3e5fc;
    margin-right: 1rem;
    font-size: 1.5rem;
}

.social-icons a:hover {
    color: #29b6f6;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: white;
    }
}

.typing-effect {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid #b3e5fc;
    animation: typing 3s steps(30, end), blink-caret .75s step-end infinite;
}

.carousel-item img,
.carousel-item video {
    max-height: 400px;
    width: auto;
    margin: 0 auto;
    object-fit: contain;
}

.card {
    border: none;
    background-color: #0a0a0a;
}

.card-body {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    color: #f5f5f5;
}

.card-title {
    color: #b3e5fc;
    font-size: 1.5rem;
}

.card-text {
    color: #b3e5fc;
    font-size: 1rem;
}

.skills {
    text-align: center;
    margin-top: 20px;
}

.skills .skill-item {
    display: inline-block;
    margin: 10px;
    background-color: transparent; 
}

.skills img {
    max-width: 50px;
    display: block;
    margin: 0 auto;
    background-color: transparent; 
}

.skills p {
    margin: 5px 0 0;
    font-size: 0.9rem;
    color: #b3e5fc;
}